<!DOCTYPE html>
<html lang="pl" 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="./css/style_login.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">-->

</head>

<body>
    <header>
       <div class="logo">
         
                <img src="/images/ESN-white.png"  alt="logo">
          
       </div> 
       <div class="menu">
           <ul>
                <li><a href="/" target="_blank">HOME</a></li>
                <li><a href="https://agh.esn.pl/">ESN AGH</a></li>
               <li><a href="/contact">CONTACT</a></li>
               <li><a href="/login">LOGIN</a></li>
            </ul>
       </div>
       <div class="clear"></div>
    </header>
<main>
    <section class="hero">
            <div class="container">
                    <form class="form-horizontal" role="form" method="POST" th:action="@{/signup_mentor}" th:object="${user}">
                     <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                             <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h2>Register As Mentor</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="name">First Name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text" th:field="*{firstname}" class="form-control" id="firstname"
                                               placeholder="First Name" required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="name">Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text" th:field="*{lastname}" class="form-control" id="lastname"
                                               placeholder="Last name" required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                        <input type="text" th:field="*{email}" class="form-control" id="email"
                                               placeholder="username@jackrutorial.com" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-control-feedback">
                                        <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="password">Password</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                        <input type="password" th:field="*{password}" class="form-control" id="password"
                                               placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-control-feedback">
                                        <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                            </div>
                        </div>
                    </form>
                </div>
    </section>
    
    
        <div class="clear"></div>
    </section>
</main>
    <footer>
        <p>© 2018 Copyright. Karolina Wołoszyn</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>