<!DOCTYPE html>
<html lang="pl"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Erasmus-Mentor System</title>
    <link rel="stylesheet" type="text/css" href="/css/style_form.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
  
</head>

<body>
 <header>
       <div class="logo">
         <img src="/images/ESN-white.png"  alt="logo">
          
       </div> 
      
       <div class="menu">
           <ul>
             <li><a href="@{/index}" target="_blank">HOME</a></li>
                <li><a href="https://agh.esn.pl/">ESN AGH</a></li>
               <li><a th:href="@{/contact}">CONTACT</a></li>
               <li><a th:href="@{/logout}">LOGOUT</a></li>
            </ul>
       </div>
    </header>
     <main>
           <section class="hero">
    <h2>Thank you! Your application has been sent. </h2>
    
 
    <p th:text="'First Name: ' + ${erasmusInfo.erasmusName}" />
    <p th:text="'Last Name: ' + ${erasmusInfo.erasmusSurname}" />
    <p th:text="'Gender: ' + ${erasmusInfo.erasmusGender}" />
    <p th:text="'Email: ' + ${erasmusInfo.erasmusEmail}" />
    <p th:text="'Tel: ' + ${erasmusInfo.erasmusTel}" />
    <p th:text="'Country: ' + ${erasmusInfo.erasmusCountry}" /> 
    <p th:text="'University: ' + ${erasmusInfo.erasmusUni}" />
    <p th:text="'Studies: ' + ${erasmusInfo.erasmusStudies}" />   
    <p th:text="'Faculty: ' + ${erasmusInfo.erasmusFacultyAGH}" />      
    <a th:href="@{/home/home}" class="button">Go back to home page</a>
    
    </section>
    </main>
    <footer>
        <p>© 2018 Copyright. Karolina Wołoszyn</p>
    </footer>
</body>

</html>