<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Erasmus-Mentor System</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
   
</head>

<body>
    <header>
       <div class="logo">
         
                <img src="/images/ESN-white.png"  alt="logo">
          
       </div> 
       <div class="menu">
           <ul>
           
            <li><a href="https://agh.esn.pl/">ESN AGH</a></li>
               <li><a th:href="@{/contact}">CONTACT</a></li>
               <li><a th:href="@{/login}">LOGIN</a></li>
            </ul>
       </div>
       <div class="clear"></div>
    </header>
<main>
    <section class="hero">

            <ul>
                  <li2><a th:href="@{/signup}" target="_blank">   SIGN IN AS ERASMUS  </a></li>
                    <li2><a th:href="@{/signupMentor}" target="_blank">   SIGN IN AS MENTOR   </a></li>
            </ul>

  
    </section>
    
    <section class="gallery">
        <div class="container">

            <div class="gallery-text">
            <h2 class="gallery-text">Mentor Programme</h2>
               <p> Mentor is a project of the Erasmus Student Network (ESN) an international student non-profit organization that helps people arriving from all over Europe and the world for an exchange to Poland in facing the "first steps" in our land and in the organization of activities that give them the opportunity to know better Poland and the Polish reality.
               </p>   
            </div>
            <div class="gallery-img">
                    <img src="/images/5.jpg">
                    <img src="/images/6.jpg">
                    <img src="/images/7.jpg">
                    <img src="/images/8.jpg">
                </div>
        </div>
        <div class="clear"></div>
    </section>
</main>
    <footer>
        <p>© 2018 Copyright. Karolina Wołoszyn</p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--   <script>
        $(document).ready(function(){
          alert("Hurry up!!")  
        });
    
    </script> -->
</body>
</html>