*{
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Barlow', sans-serif;
    font-size:40px;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px ;
    margin: 0 auto;
    width: 100%;
    position: relative;
      
}
 header{
     width: 100%;
     height: 90px ;
     background-color: #0099FF ;
 }

 .logo{
     float: left;
     margin-left:10px ;
 }
 .menu{
     float: right;
 }
 .clear{
     clear: both;
 }
 ul{
     list-style-type: none;
     padding: 0;
     margin: 0;

 }
 ul li{
     display: inline-block;
 }
 ul li a{
     text-decoration: none;
     color:white;
     text-transform: uppercase;
     font-size: 20px;
     text-align: center;
     display: inline-block;
     line-height: 90px;
     padding: 0 20px;

 }
 ul li a:hover{
     background-color: #00BFFF;
 }
 ul li2 a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    display: inline-block;
    line-height: 500px;
    padding: 0 45px;

}
ul li2 a:hover{
    opacity: 0.95;
    background-color:#33ccff;
    text-emphasis-color:blue;
}
 .hero{
    float: center;
     justify-content: space-around;
     width: 100%;
     height: 600px;
     background-image: url(tlo2.jpg);
     background-size: cover;
     background-position: center;
     overflow: hidden;
     text-align: center;
     align-items:center;   
 }
 .item{flex-shrink: 0;
    flex-grow: 1;
 }

.hero-button{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background: gold;
    color: #000;

 }
 .hero-button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: lightblue;
    
  
 }
 .gallery{
     display: flex;
     margin: 0;
     text-align: center;
     background-color: #0099FF;
     padding-bottom:50px ; 
    
 }
 .gallery-text{
    font-family: 'Barlow', sans-serif;
    color: white;
    margin: 0;
    padding:50px;
    font-size: 30px;


 
 
 }
 .gallery-img img{
    font-family: 'Barlow', sans-serif;
    color: #white;
     object-fit: cover;
     float: left;
     width: 25%;
     max-height: 150px;
     border-radius:20px;
     padding: 10px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


 }
 
 .gallery-img img:hover{
     opacity: 0.8;
     cursor: pointer;
 }
 footer{
     background-color:#0099FF;
     text-align: center;

 }
footer p{
    margin: 0;
    padding: 20px;
    text-align: center;
}
/* Conatct form */
@import url(https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Barlow", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 10px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 80%;
  border: none;
  background: #191cb1;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #1e0063;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
