<!DOCTYPE html>
<html lang="pl" 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style_home.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- <script src="jquery/arrowspin.js"></script> -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">-->

</head>

<body>
    <header>
       <div class="logo">
         
                <img src="/images/ESN-white.png"  alt="logo">
          
       </div> 
       <div class="menu">
           <ul>
                    
                <li><a href="https://agh.esn.pl/">ESN AGH</a></li>
               <li><a th:href="@{/contact}">CONTACT</a></li>
               <li><a th:href="@{/logout}">LOGOUT</a></li>
               
            </ul>
       </div>
       <div class="clear"></div>
    </header>
<main>
    <section class="hero">
            <div class="container">
                    <h2>Hi <span th:utext="${userFirstname}"></span>! Let the adventure begin!</h2>
            
            <a th:if="${userRoles.contains('ERASMUS')}" th:href="@{/application_form}" class="button">APPLY FOR MENTOR</a>
            <a th:if="${userRoles.contains('MENTOR')}" th:href="@{/assign_erasmus}" class="button">ASSIGN ERASMUS</a>
        <a th:if="${userRoles.contains('ADMIN')}" th:href="@{/home/admin}" class="button">List of registered Erasmuses and Mentors </a>
        <a th:if="${userRoles.contains('ADMIN')}" th:href="@{/home/admin/matching}" class="button">Assign new pairs </a>

            <div>
                              <h2 >All your details</h2>
                              
<table border="1" >
<thead>
    <tr>
       <th>First name</th>
        <th>Last name</th>
         <th>Email</th>
         	<th>Role</th>
    </tr>
    </thead>
     <tbody>
               <!--  <tr th:each="user:${user}"> -->
               
               <td><span th:utext="${userFirstname}"></span></td>
               <td><span th:utext="${userLastname}"></span></td>
               <td th:text="${userEmail}"></td>
                  <td th:text="${userRoles}"></td>
                </tr>
                </tbody>
</table>
          </div>
           
     
    
    
        <div class="clear"></div>  
  
    </section>
    
    </section>
</main>
    <footer>
        <p>© 2018 Copyright. Karolina Wołoszyn</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>