<!DOCTYPE html>
<html lang="pl" 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style_home.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:200,400,400i,700&amp;subset=latin-ext" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <header>
       <div class="logo">
         
                <img src="/images/ESN-white.png"  alt="logo">
          
       </div> 
       <div class="menu">
           <ul>
                       <li><a th:href="@{/home/home}">HOME</a></li>
                <li><a href="https://agh.esn.pl/">ESN AGH</a></li>
               <li><a th:href="@{/contact}">CONTACT</a></li>
               <li><a th:href="@{/logout}">LOGOUT</a></li>
               
            </ul>
       </div>
       <div class="clear"></div>
    </header>
<main>
    <section class="hero">
            <div class="container">
                    <h2>List of matched students</h2>
                    <div>
                  <table border="1">
		<thead>
			<tr>
				<th>Mentor name</th>
				<th>Mentor lastname</th>
				<th>Erasmus name</th>
				<th>Erasmus lastname</th>
			</tr>
		</thead>
		<tbody>
	 	<th:block th:each="user : ${allErasmus}">
				<tr>
					<td><span th:text="${user.firstname}"/></td>
					<td><span th:text="${user.lastname}"/></td>
					<td><span th:text="${user.firstname}"/></td>
					<td><span th:text="${user.lastname}"/></td>
              
				</tr>
			</th:block> 
		</tbody>
	</table>  </div>
                  
                   </div>
                    </div>
                    
                    
                   
           <ul>
           <li><h2 >Erasmus student</h2></li>
           <li><h2 > <h2 >Mentor students</h2></li>
           </ul>
                              
 <ul>                             
<li><table border="1">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
	 	<th:block th:each="user : ${allErasmus}">
				<tr>
					<td><span th:text="${user.firstname}"/></td>
					<td><span th:text="${user.lastname}"/></td>
					<td> <span th:text="${user.email}"/></td>
					   <td th:text="${user.roleNames}"></td>
              
				</tr>
			</th:block> 
		</tbody>
	</table>
          </div>
          </li> 
          <li>
           <div>
	
	<table border="1">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
	 	<th:block th:each="user : ${allErasmus}">
				<tr>
					<td><span th:text="${user.firstname}"/></td>
					<td><span th:text="${user.lastname}"/></td>
					<td> <span th:text="${user.email}"/></td>
					   <td th:text="${user.roleNames}"></td>
              
				</tr>
			</th:block> 
		</tbody>
	</table>
</div>
  </li>
  </ul>

          <div>
         <a class="button .button2">Match Erasmuses and Mentors </a>
          <a  class="button .button3" th:href="@{/notification}">Send email notification to Mentors and Erasmus students</a>
                  </div>    
                  
                   
  
    </section>
    
    
        <div class="clear"> </div>
    </section>
</main>
    <footer>
        <p>© 2018 Copyright. Karolina Wołoszyn</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>